[Unit]
Description=Ollama Server
After=network.target

[Service]
Type=simple
ExecStart=/home/changye/Coding/llm/deploy/ollama/start.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
